.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #b74160;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer hr{
    
    width: 873px;
color: black;
}